<div class="modal fade">

  <div class="modal-dialog modal-lg n400">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 style="text-align:center" class="modal-title">Error</h4>
      </div>
      <div class="modal-body">
          <P>{{content}}</P>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="close()" class="btn" data-dismiss="modal">Entendido</button>
      </div>
    </div>
  </div>
</div>