 <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" href="styles/styles.css">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <main class="mdl-layout__content">
        <div class="mdl-layout__tab-panel is-active" id="overview" 
            ng-repeat="plato in menu.data.data">


          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp" ng-repeat="(key, value) in plato">

            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <h2 style="color : #ff4081;" class="mdl-cell mdl-cell--12-col" >{{key}}</h2>

                <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing" ng-repeat="val in value">
                  <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone"  >
                    <a style="color: inherit" ng-click="addToCart(val)" href=""><h3>{{val.nombre}}</h3></a>
                  </div>
                  <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                    <div class="section__circle-container__circle">
                          <a ng-click="addToCart(val)" href="">
                            <img ng-if="cartIdes.indexOf(val.id) > -1" src="images/check.png">
                            <img ng-if="cartIdes.indexOf(val.id) == -1" src="images/uncheck.png">
                          </a>
                    </div>
                  </div>
                </div>

   </div>

</div>
      
          </section>
    </div>
        <span style="padding-bottom:63px; width:156px" href="" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast" data-upgraded=",MaterialButton,MaterialRipple" ng-click="openModal()"  ng-show="showprice">Precio: ${{price}}<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></span>

        <a href="" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast" data-upgraded=",MaterialButton,MaterialRipple" ng-click="openModal()">¡Realizar Pedido!<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
</div>